header {
	text-align: center;
	border:5px solid #000000;
	background-color: #00FFE6;
	padding:10px;
	border-radius:50px;
	width:70%;
	margin-left:auto;
	margin-right:auto;
	font-family: Cursive;
	overflow:hidden;
	box-shadow: 20px 20px 30px 15px #676767;
}
body {
	font-size: 1em;
	background-image: url("download.jpg"); 
	background-attachment: fixed;
	background-size: cover;

}
section{
	width: 100%;
	float: top;
}
nav {
	font-family: Cursive;
	border:5px solid #000000;
	border-radius:50px;
	padding: 10px;
	background-color: #00FFE6;
	margin-left:15%;
	margin-right:15%;
	overflow:hidden;
	font-size: 1.25vw;
	line-height: calc(1em + (3 - 1.5) * ((100vw - 350px)/(2780 - 350)));

}
a:link {
	text-decoration:none;
	color:#14abff;
}
a:hover {
	color:#00C6AA;
}

nav:hover {
	box-shadow: 5px 5px 10px 5px #383838;
	
}

nav ul {
	list-style-type:none;
}
nav ul li {
	margin-left:6.5vw;
	margin-right:6.5vw;
	display: inline;
}
nav img {
	width: 7vw;
	max-width: 35px;
	max-height: 35px;
    height: 7vw; 
	z-index: 10;
}#CU {
	text-decoration:underline;
}
label {
	padding:10px;
	border-radius:50px;
	width:70%;
	margin-left:auto;
	margin-right:auto;
	font-family: Cursive;
	overflow:hidden;
}
strong { 
	text-align: center;
	font-weight: bold;
	font-size:1.7em;
}
fieldset{
	background-color:#00FFE6;
	width:70%;
	border-width:10px solid #000000;
	margin-left:auto;
	margin-right:auto;
	border-radius:50px;
}
legend{
	background:#00DCFF;
	border-width:10px solid #000000;
	border-radius:30px;
	font-size:2.2vw;
	padding:20px;
}
input {
	font-size:1.8vw;
}
textarea {
	font-size:0.7em;
}
input[type=radio] {
    width:0.7em;
	height:0.7em;
}
#h:hover {
	cursor: pointer;
}
input[type=submit] {
    border-width:5px solid #000000;
	color:#000000;
	text-decoration:none;
	border-radius:10px;
	font-size:1.5vw;
}
input[type=reset] {
    border-width:10px solid #000000;
	background:#00DCFF;
	color:#000000;
	text-decoration:none;
	color:#14abff;
	border-radius:10px;
	font-size:1.5vw;
}


